<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>PizzaServletWebApi</servlet-name>
  	<display-name>PizzaServletWebApi</display-name>
  	<description></description>
  	<servlet-class>fr.pizzeria.admin.web.PizzaServletWebApi</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ListerPizza</servlet-name>
  	<display-name>ListerPizzaController</display-name>
  	<description></description>
  	<servlet-class>fr.pizzeria.admin.web.ListerPizzaController</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>EditerPizza</servlet-name>
  	<display-name>EditerPizzaController</display-name>
  	<description></description>
  	<servlet-class>fr.pizzeria.admin.web.EditerPizzaController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletePizza</servlet-name>
  	<display-name>DeletePizzaController</display-name>
  	<description></description>
  	<servlet-class>fr.pizzeria.admin.web.DeletePizzaController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SavePizzaController</servlet-name>
  	<display-name>SavePizzaController</display-name>
  	<description></description>
  	<servlet-class>fr.pizzeria.admin.web.SavePizzaController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PizzaServletWebApi</servlet-name>
  	<url-pattern>/api/servlet/pizzas</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ListerPizza</servlet-name>
  	<url-pattern>/pizzas/list</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>EditerPizza</servlet-name>
  	<url-pattern>/pizzas/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletePizza</servlet-name>
  	<url-pattern>/pizzas/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SavePizzaController</servlet-name>
  	<url-pattern>/pizzas/save</url-pattern>
  </servlet-mapping>
  
</web-app>
