body {
	background-color: #FFE4C4;
}

h {
	
	font-family: Helvetica;
}





div#listPizza {
	background-color: white;
	text-align: center;
	font-family: Helvetica;
	font-size: 150%; border-width : 1px;
	border-style: none solid solid solid;
	border-color: black;
	border-width: 1px;
}

div#nomPizza {
	background-color: #D3D3D3;
	text-align: center;
	font-family: Helvetica;
	font-size: 150%;
	border-width: 1px;
	border-style:  solid ;
	border-color: black;
}

div[class="white"]
{
	background-color: #E3E3E3;
	font-family: Helvetica;
	font-size: 150%;
	border-width: 1px;
	border-style:  solid ;
	border-color: black;
	margin:10px;
	padding:100px;
	border-radius: 20px;
	
	
	
}